html, body {
	height:100%;
   	width:100%;
   	margin:0;
   	padding:0;
}

header {
	position: relative;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#nav-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: black;
	padding: 0px 50px 0px 50px;
	top: 0px;
	left: 0px;
	right: 0px;
}

.nav-spacing {
	padding: 20px;
}

#what-button {
	padding-left: 20px;
}

#buy-button {
	margin-left: auto;
}

#buy-button > a:hover {
	cursor: pointer;
}

#what-menu {
	padding-bottom: 20px;
}

#how-menu {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #f9f9f9;
}

a {
	color: white;
	text-decoration: none;
}

.menu-alignment {
	text-align: center;
}

.menu-title {
	margin-bottom: 50px;
}

img {
	height: 25%;
	width: 25%;
	margin-top: 20px;
}

.button {
	background-color: #f9f9f9;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: black;
}

.button:hover {
	background-color: black;
	color: #f9f9f9;
	cursor: pointer;
}

#tutorial-video {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
	visibility: hidden;
	z-index: 99;
}

#tutorial-exit {
	text-align: right;
	padding-bottom: 20px;
	margin-right: 50px;
}

#tutorial-exit div:hover {
	cursor: pointer;
}

#shipping-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	word-wrap: break-word;
	padding-bottom: 20px;
}

.shipping-spacing {
	display: inline-block;
	margin: 0px 50px 0px 50px;
	padding: 0px 25px 0px 25px;
	border: 1px solid black;
	width: 200px;
	word-wrap: break-word;
}

.shipping-image {
	font-size: 500%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#faq-menu {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #f9f9f9;
	width: 100%;
}

.faq-question {
	display: inline-block;
	width: 70%;
	border: 1px solid black;
	border-radius: 10px;
	word-wrap: break-word;
	position: relative;
	margin-bottom: 25px;
}

.faq-question-top {
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.faq-question-icon {
	position: absolute;
	width: auto;
	top: 0px;
	right: 0px;
	margin-right: 10px;
}

.faq-question-icon:hover {
	cursor: pointer;
}

.faq-question-icon i {
	margin-top: 10px;
}

.faq-answer {
	display: none;
}

#buy-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#buy-content img {
	margin-right: 100px;
	margin-top: 0px;
}

#buy-quantity {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#quantity-number {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

#quantity-number p {
	margin: 0px 20px 0px 0px;
}

.fa-minus-circle {
	margin-left: 5px;
}

.fa-plus-circle:hover, .fa-minus-circle:hover {
	cursor: pointer;
}

#buy-button-page {
	margin-top: 25px;
}

#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#topButton I {
	font-size: 25px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
	font-size: 12px;
	bottom: 0px;
}